doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Profile
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  link(rel='stylesheet' href='css/style.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap' rel='stylesheet')
#scene
  .item(data-depth='0.2')
    img.pol1(src='img/pol/p1.svg' alt='#')
  .item(data-depth='0.3')
    img.pol2(src='img/pol/p2.svg' alt='#')
  .item(data-depth='0.2')
    img.pol3(src='img/pol/p3.svg' alt='#')
  .item(data-depth='0.3')
    img.pol4(src='img/pol/p4.svg' alt='#')
  .item(data-depth='0.2')
    img.pol5(src='img/pol/p5.svg' alt='#')
  .item(data-depth='0.2')
    img.pol6(src='img/pol/p6.svg' alt='#')
  .item(data-depth='0.3')
    img.pol7(src='img/pol/p7.svg' alt='#')
  .item(data-depth='0.3')
    img.pol8(src='img/pol/p8.svg' alt='#')
  .item(data-depth='0.5')
    img.pol9(src='img/pol/p9.svg' alt='#')
  .item(data-depth='0.5')
    img.pol10(src='img/pol/p10.svg' alt='#')
  .item(data-depth='0.4')
    img.pol11(src='img/pol/p11.svg' alt='#')
  .item(data-depth='0.4')
    img.pol12(src='img/pol/p12.svg' alt='#')
  .item(data-depth='0.4')
    img.pol13(src='img/pol/p13.svg' alt='#')
  .item(data-depth='0.5')
    img.pol14(src='img/pol/p14.svg' alt='#')
  .item(data-depth='0.5')
    img.pol15(src='img/pol/p15.svg' alt='#')
nav.navbar.px-3
  a(href='/projectlist')
    img#logo(src='img/logo.svg' alt='#')
.container
  .blockname.row.col-7.mb-3.mx-auto
    h2.NameUser.text-center.pt-5.pb-2
      | #{username}
    hr.mx-auto
    h2.idmask.text-center.pt-2
      | #{userMetamask}
  .row.justify-content-center.align-items-center
    .blockpublic.col-6
      a.hBlock.row.text-nowrap.justify-content-center.align-items-center.mt-5.mx-auto(href='')
        | Public projects
      each obj in publicProjects
        ul.text-center.mt-3.p-0.mx-auto
          li.justify-content-center.align-items-center.mb-2.mx-auto
            a.aProfile.text-nowrap(href='#')
              | #{obj.project_name}
      a.text-createPR.row.text-nowrap.justify-content-center.align-items-center.mx-auto(href='/upload')
        | create project
    .blockpurch.col-6
      a.hBlock.row.ext-nowrap.justify-content-center.align-items-center.mt-5.mx-auto(href='purchased.html')
        | Purchased projects
      each obj in purchasedProjects
        ul.text-center.mt-3.p-0.mx-auto
          li.justify-content-center.align-items-center.mb-2.mx-auto
            a.aProfile.col.text-nowrap(href='#')
              | #{obj.project_name}
            a.col(href='/file/' + obj.project_name + '.zip')
              img.buttonDownload(src='img/DownloadButton.svg' alt='')

script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
script.
  var scene = document.getElementById('scene');
  var parallaxInstance = new Parallax(scene);